body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(196, 196, 196);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chat-widget {
  width: 600px;
  margin: auto;
  overflow: hidden;
}

header {
  background: #d64933;
  color: white;
  text-align: center;
  position: fixed;
  width: inherit;
  max-width: 600px;
  height: 60px;
}

.content {
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: 60px;
  background-color: white;
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.content .chats {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-bubble {
  max-width: 65%;
  padding: 0 16px;
  border-radius: 40px;
}

.chat-bubble.bot-bg {
  align-self: flex-start;
  background-color: rgb(238, 238, 238);
}

.chat-bubble.user-bg {
  align-self: flex-end;
  background-color: #d64933;
  color: white;
}

.message-box {
  position: fixed;
  max-width: 600px;
  bottom: 0;
  width: 100%;
  background-color: rgb(238, 238, 238);
}

.message-box input {
  width: 80%;
  padding: 0px 16px;
  height: 60px;
  outline: none;
  border: none;
  background-color: transparent;
}

.chat-disabled {
  padding: 16px;
  height: 28px;
  text-align: center;
}

.message-box button {
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  background: #d64933;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
